/*main elements styling*/
/* Element Selector */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #70a1ff;
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

/* 2. Class Selector */

.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 80vw;
    background-color:#5352ed;
    border: black 3px solid;
    border-radius: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
}



/*header elements styling*/

header {
    background-image: url('https://images.unsplash.com/photo-1543039717-b4d407223b4c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2102&q=80');
    background-attachment: fixed;
    width: 90%;
    padding-bottom: 30vw;
    height: 100%;
    margin-bottom: 4em;
    background-size: cover;
    filter: blur(3px);
    filter: grayscale(1);
    filter: saturate(1.9);
    display: flex;
    justify-content: center;
    margin-top: 3em;
    border: #1e90ff;
    border-radius: 1em;
    background-color: #57606f;
}

h1 {
    background-color: #1e90ff;
    border: black solid 0.4em;
    border-radius: 1em;
    padding-right: 3em;
    padding-left: 3em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.5em;
    transition: 0.8s;
    margin-top: -1px;
    display: flex;
    justify-content: center;
    width: 20%;
    display: flex;
    align-items: center;
    margin-top: 5em;
}

/* 3. Pseudo-Class Selector */
h1:hover {
    background-color: black;
    border: #1e90ff solid 0.4em;

}

/* 4 Combinator Selector */
main > h2 {
    display: flex;
    justify-content: center;
    font-size: 2.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: -0.5em;
    margin-bottom: 3em;
    margin-top: 2em;
}

/*main area styling*/

section {
    display: flex;
    justify-content: center;
}

img {
    border: #1e90ff;
    border-radius: 1em;
    margin-top: -0.5em;
    height: 20vw;
    width: 30vw;
    filter: contrast(105%);
    filter: drop-shadow(16px, 16px, 20px, blue) invert(75%);
}

@media screen and (max-width: 300px) {
    img {
        border: #1e90ff;
        border-radius: 1em;
        margin-top: -0.5em;
        height: 40vw;
        width: 50vw;
    }    
  }
  
#main-p {
    font-size: 1.5em;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 1.8em;
    margin-bottom: 3em;
    width: 60%;
    margin: auto;
    padding-bottom: 4em;
    padding-top: 4em;
    color: black;
}

/*list styling*/
h3 {
    display: flex;
    justify-content: center;
    font-size: 2.3em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: -0.3em;
    margin-bottom: 3em;
}

ul {
    font-size: 1.2em;
    display: flex;
    align-items: center;
    flex-direction: column;
    animation-duration: 2s;
    animation-name: ani;
    border: #1e90ff;
    border-radius: 1em;
    animation-iteration-count: 100;
    animation-delay: 1s;
    padding-bottom: 2em;
    padding-top: 2em;
    width: 50%;
    margin: auto;
    display: flex;
    margin-bottom: 2em;
}

/*animation*/
@keyframes ani {
    from {
        background-color: #5352ed;
    }

    to {
        background-color: #57606f;
    }
}


li:nth-child(1),
li:nth-child(3) {
    font-weight: bold;
}